@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azure: #0290ff;
  --white: white;
  --white2: #e8e8e8;
  --white3: #fafafa;
  --black2: #121212;
  --cool-blue: #4386bf;
  --pale-grey: #f5f6fa;
  --warm-grey: #888;
  --very-light-pink: #c4c4c4;
}

body {
  background-color: var(--pale-grey);
  font-family: Montserrat, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-style-3 {
  color: var(--black2);
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

header {
  justify-content: flex-start;
  background-color: var(--white);
  cursor: pointer;
  margin-top: 9.313rem;
  padding: 0 6.25rem;
  height: 5.938rem;
}

.menu {
  justify-content: flex-start;
}

.title {
  color: var(--azure);
  font-size: 1.875rem;
  font-weight: bold;
}

a {
  color: var(--black2);
  font-size: 0.813rem;
  margin-left: 2.563rem;
  text-decoration: none;
  text-transform: uppercase;
}

.fa-user {
  border: 1px solid var(--white2);
  border-radius: 100%;
  color: var(--azure);
  padding: 1rem;
  position: absolute;
  right: 6.25rem;
}
